.App {
  font-family: "Roboto", sans-serif;
}

.screen {
  position: absolute;
  left: 0px;
  top: 0px;
  border: 2px solid black;
  border-bottom: 10px solid #91b3ff;
  margin: 10px auto;
  height: 400px;
  width: 600px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #4265b3;
  background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
  background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
  background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}
